@font-face {
  font-family: 'Blueaka';
  src: url('/font/Blueaka/Blueaka.css') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blueaka_Bold';
  src: url('/font/Blueaka_Bold/Blueaka_Bold.css') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
